nav {
  background-color: var(--primary-darkSE) !important;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 4;
}

nav .container {
  padding: 0;
}

.navbar-brand {
  max-width: 15rem;
  align-self: center;
}

.logo {
  width: 15rem;
  /* padding: 0.5rem; */
}

nav a.nav-link {
  letter-spacing: 0.02rem;
  font-weight: 500;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  font-size: 1.1rem;
}

.navbar-nav > li > a {
  /* margin-right: 0.2rem;
  margin-left: 0.2rem; */
  color: var(--primary-white) !important;
  border-bottom: 0.1875rem solid var(--primary-darkSE);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-blue);
}

@media (max-width: 1199px) {
  .navbar-brand {
    width: 10rem;
  }
  .logo {
    width: 10rem;
  }
  nav a.nav-link {
    margin-top: 0.25rem;
    text-align: right;
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .navbar-brand {
    width: 10rem;
  }
  .logo {
    width: 10rem;
  }
  nav a.nav-link {
    margin-top: 0.25rem;
    text-align: right;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 9rem;
  }
  .logo {
    width: 9rem;
  }
  nav a.nav-link {
    margin-top: 0.25rem;
    text-align: right;
    font-size: 0.9rem;
  }
}
